.background{
  background-image:     linear-gradient(rgba(184, 79, 13, 0.5), rgba(0, 0, 0, 0.5)), 
 url("./img/restrunt.jpg");
  height: 800px;
  background-position:center ;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: antiquewhite; */
  color: white;
  align-content: center;
  justify-items: center;
}
.head{
   font-size: 70px;
   font-family:cursive;
}
.para{
   font-size: 20px;
   font-family: sans-serif;
}
.btn{
 margin-top: 27%;   
 font-size: 30px;
 padding: 10px;
 background-color: rgb(248, 79, 17) ;
 box-shadow: rgb(58, 57, 57) 2px 1px 1px;
 border-radius: 5px; 
 color: white;
font-family: cursive ;
}